.MuiPaper-root.ms-card {
    margin-bottom: 5px;
    box-shadow: none;
}

.MuiPaper-root.ms-card-dark {
    background-color: rgb(255, 255, 255, 0.1);
}

.MuiPaper-root.ms-card-light {
    background-color: rgb(0, 0, 0, 0.1);
}

.MuiPaper-root.ms-card .MuiCardContent-root {
    padding: 5px;
}

.MuiPaper-root.ms-accordion {
    box-shadow: none;
    margin-bottom: 3px;
}

.MuiPaper-root.ms-card-dark .MuiPaper-root.ms-accordion {
    background-color: rgb(255, 255, 255, 0.05);
}

.MuiPaper-root.ms-card-light .MuiPaper-root.ms-accordion {
    background-color: rgb(255, 255, 255, 0.4);
}

.MuiPaper-root.ms-card-dark .MuiPaper-root.ms-accordion:hover,
.MuiPaper-root.ms-card-dark .MuiPaper-root.ms-accordion.Mui-expanded {
    background-color: rgb(255, 255, 255, 0.08);
}

.MuiPaper-root.ms-card-dark .MuiPaper-root.ms-accordion.Mui-expanded {
    background-color: rgb(255, 255, 255, 0.1);
}

.MuiPaper-root.ms-card-light .MuiPaper-root.ms-accordion:hover,
.MuiPaper-root.ms-card-light .MuiPaper-root.ms-accordion.Mui-expanded {
    background-color: rgb(255, 255, 255, 0.6);
}

.MuiPaper-root.ms-card-light .MuiPaper-root.ms-accordion.Mui-expanded {
    background-color: rgb(255, 255, 255, 0.8);
}

.MuiPaper-root.ms-accordion .MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded .ms-accordion-title,
.MuiPaper-root.ms-accordion .MuiButtonBase-root.MuiIconButton-root.MuiAccordionSummary-expandIcon.Mui-expanded {
    opacity: 0.5;
}

.MuiPaper-root.ms-accordion .MuiButtonBase-root.MuiAccordionSummary-root .MuiAccordionSummary-content {
    margin: 3px;
}

.MuiPaper-root.ms-accordion .MuiButtonBase-root.MuiAccordionSummary-root {
    min-height: 30px;
    padding: 0 5px;
}

.MuiPaper-root.ms-accordion .MuiAccordionDetails-root {
    padding: 5px 10px 10px;
}

.MuiAccordion-root.ms-accordion.Mui-expanded {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3px;
}

.ms-container.MuiContainer-root {
    padding: 5px;
}

.ms-accordion.MuiAccordion-root:before {
    background-color: transparent;
}

.markdown-text {
    white-space: pre-line;
    cursor: pointer;
}

.songs-list-skeleton {
    margin-bottom: 5px;
}

.songs-list-skeleton-search {
    margin-left: 15px;
}

.header-placeholder {
    height: 56px;
    background-color: black;
    padding: 5px;
    display: flex;
}

/* .MuiSlider-root.ms-accordion-scroll-speed {
    width: 100px;
} */

.ms-logo {
    padding: 20px;
    text-align: center;
}

.paragraph-highlight-dark {
    background-color: #2C3E50;
}

.paragraph-highlight-light {
    background-color: #C2DFFF;
}

.song-card-header {
    display: flex;
}

.song-card-title-header {
    width: 100%;
}

.song-action-buttons {
    float: right;
    display: none;
}

.song-card-title-header:hover + .song-action-buttons,
.song-action-buttons:hover {
    display: block;
}

.song-action-buttons .MuiFab-root {
    width: 18px;
    height: 18px;
    min-height: 18px;
}